#containerGerarNota {
    display: flex;
}

#containerGerarNota>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left {
    width: 47%;
}

#right {
    width: 53%;
}

#backButton {
    margin-right: 10%;
    cursor: pointer;
}

#ListaNota {
    margin-top: 8%;
    margin-right: 15%;
    min-height: 425px;
    max-height: 425px;
    max-width: 105%;
    overflow: scroll;
}

@media (min-height: 699px) {

    #ListaNota {
        margin-top: 5%;
        min-height: 528px;
        max-height: 528px;
    }

}