#containerRegistrarProduto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#closeButton {
    margin-top: 1%;
    cursor: pointer;
}

#boxRegistrarProduto {
    display: flex;
    margin-top: 3%;
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px 25px 50px;
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

@media (min-height: 699px) {
    
    #closeButton {
        margin-top: 2%;
        margin-right: 5%;
    }

    #boxRegistrarProduto {
        margin-right: 5%;
    }

}