#popup-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

#containerPopUp {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    border-radius: 40px;
    height: 88%;
    width: 32%;
    background-color: #fff;
}

#content > h1 {
    margin-left: 28.5%;
}

#content > img {
    max-height: 24px;
    max-width: 24px;
    position: fixed;
    margin-left: 26%;
    margin-top: 1%;
}

@media (min-height: 700px) {

    #content {
        margin-top: 4%;
        height: 80%;
    }
}